*{
    margin:0;
    padding:0;
}
body {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    row-gap: 30px;
    padding-top: 50px;
}
#tz-details {
    border: 2px solid grey;
    padding: 30px 50px;
    font-size: 20px;
    align-self: flex-start;
    display: flex;
    flex-flow: row wrap;
    row-gap: 10px;
    margin: 10px;
}
#tz-details > p{
    flex-basis: 50%;
}
#address {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    row-gap: 20px;
    background-color: black;
    color: white;
    padding: 10px;
}
#address > div {
    border: 2px solid grey;
    display: flex;
    flex-flow: row wrap;
    row-gap: 10px;
    padding: 30px 50px;
    font-size: 20px;
}
#address > div > p {
    flex-basis: 50%;
}
input {
    width: 80%;
    height: 2.5rem;
    background-color: black;
    padding: 15px;
    align-self: flex-start;
    outline: none;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 16px;
    color: white;
}
button {
    align-self: flex-start;
    padding: 20px;
    font-weight: bold;
}